.navbar {
    background: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav ul {
    margin-right: 30px;
    padding-top: 10px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 5px 10px; /* Reduced padding for smaller height */
}

.logo {
    margin-top: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: Merriweather;
}

.logo-icon {
    font-size: 20px;
    color: black;
    transition: color 0.3 ease;
}

.logo-icon:hover {
    color: #521C0D;
}


.second-navbar {
    background: white;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin: 0;   /* removes default top & bottom margin */
    padding: 8px 0; /* optional: adds even spacing */
}

.second-navbar li a {
    position: relative; 
    font-size: 18px;
    font-family: Merriweather;
    color: black;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.second-navbar li a::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: #A86523;
    transition: width 0.3s ease;
}

.second-navbar li a:hover::before {
    width: 100%;
}






